.orange1 {
	background-color: #fd7e14;
}
.textorange1 {
	color: #fd7e14;
}

h1,h2,h3 {
	color: #fd7e14;
	padding-top: 15px;
}
input,textarea{
	color: #051A3E;
	background-color: #fd7e14;
}
.blue1{
	background-color: #051A3E;
}
.textblue1{
	color: #051A3E;
}
label{
	color: #051A3E;
}
img{
	padding-right: 100px;
	padding-left: 10px;
}
.border{
	border-style: solid;
	border-width: 3px;
	border-color:#fd7e14;
}
.padding{
	padding-left: 10px;
}
